@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
.hide-native-cursor {
  cursor: none !important;
  background-color: rgba(255, 0, 0, 0.1); /* just to see if style applies */
}